body, html, #wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

#menu, #map {
	height: 100%;
	margin: 0;
	padding: 0;
}

#menu {
	min-width: 50px;
	width: 5%;
	float: left;
	background-color: #134f80;	
}

#map {
	width: 95%;
	float: left;
}

.hide {
	display: none;
}

.list-content, .list-head {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-right: 2%;
	padding-left: 2%;
}

.title span {
	padding-left: 5%;
}

.search-bar {
	justify-content: center;
}

.search-bar input {
	width: 90%;
	line-height: 2;
}

li {
	border-bottom: 1px solid black;
	display: flex;
	flex: 1;
	align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

li span {
	margin-left: 2%;
}

.location-info {
	background-color: #5f9ea0;
}

.clear {
	clear: both;
}

.info-windows {
	color: #000000;
}

.info-windows h1, .info-windows h3 {
	margin: 0;
	padding: 0;
}

.toggle {
	width: 50px;
	text-align: center;
}

.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-36 {
	font-size: 32px;
}