body, html, #wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

#menu, #map {
	height: 95%;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 500px) {
	#menu {
		height: calc(100% - 50px);
		width: 55%;
		display: none;
		float: left;
		background-color: #134f80;	
	}
}

@media screen and (min-width: 501px) {
	#menu {
		height: calc(100% - 50px);
		width: 25%;
		display: none;
		float: left;
		background-color: #134f80;	
	}
}

#map {
	width: 100%;
	height: calc(100% - 50px);
	float: left;
	background-color: #cccccc;	
}

.header {
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 100%;
	background-color: #134f80;
	padding: 0;
	margin: 0;	
	list-style: none;
}

.header li {
	text-align: center;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.header li:first-child {
	width: 5%;
	line-height: 70px;
}

.header li:last-child {
	width: 95%;
	line-height: 50px;
}

.title h2 {
	padding: 0;
	margin: 0;
	display: inline;
}

.hide {
	display: none;
}

.list-content, .list-head {
	list-style: none;
	display: flex;
	flex-direction: column;
	flex: 1;
	border-top: 1px solid black;
	margin: 0;
	padding-right: 2%;
	padding-left: 2%;
}

.list-content li {
	border-bottom: 1px solid black;
	display: flex;
	flex: 1;
	align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

.list-content li span {
	margin-left: 2%;
}

.search-bar {
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

.search-bar input {
	width: 90%;
	line-height: 2;
}

.location-info {
	background-color: #5f9ea0;
}

.clear {
	clear: both;
}

.info-windows {
	color: #000000;
}

.info-windows h1, .info-windows h3 {
	margin: 0;
	padding: 0;
}

.toggle {
	width: 50px;
	text-align: center;
}

.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-36 {
	font-size: 32px;
}