body, html, #wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

	#menu, #map {
		margin: 0;
		padding: 0;
		width: : 100%;
	}

	#menu {
		background-color: #134f80;
	}

	.list-head {
		height: 100%;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.list-head h1, .list-head h2 {
		padding: 0;
		margin: 0;
	}

	.list-head li {
		border-bottom: 1px solid black;
		display: flex;
		flex: 1;
		padding-top: 10px;
		padding-bottom: 10px;
		justify-content: center;
		height: 29px;
	}

	.search-bar input {
		width: 90%;
		line-height: 1;
	}

	#map {
		width: 100%;
		height: calc(100% - 150px);
	}

.list-content {
	list-style: none;
	display: none;
	padding: 0;
	height: 300px;
}

.list-content li {
	border-bottom: 1px solid black;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	height: 29px;
}


.location-info {
	background-color: #5f9ea0;
}

.clear {
	clear: both;
}

.info-windows {
	color: #000000;
}

.info-windows h1, .info-windows h3 {
	margin: 0;
	padding: 0;
}

.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-36 {
	font-size: 32px;
}